.titulo{
	text-align: center;
	margin-top: 50px;
}

hr {
  height: 30px; 
  border-style: solid; 
  border-color: #041D46; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
  margin-bottom: 0px;
}

hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #041D46; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

form{
	text-align: center;
}
.help-block{
	margin-bottom: 0px;
	font-size: 15px;
  color: #FF0000;
}

img{
	margin-top: 25px;
}
.rowend{
	margin-bottom: 30px;
}

.logo{
  cursor: default;
}
h4{
  font-size: 25px;
  color: #f0ad4e;
}
#nameTournament, #numberTeams{
  font-size: 15px;
  font-family: verdana;
  color: #03C38F;
  border-color: #00D55A;
}
.trselected{
   background: gray;
}
body > div.container{
  margin-bottom: 75px;
}
#helpText{
  color: #f0ad4e;
}
.infoTorneo{
  color: #f0ad4e;
}
