.contenedor{
	background: #fff;
	margin-bottom: 85px;
	color: #fff;
	padding: 15px;
	border-radius: 25px;
}

.vs{
	text-align: center;
	margin: 0px;
	color: #471515;
}
.form-control[readonly], .form-control{
	border-color: #06B5E4;
	border-spacing: 2px;
}

h2{
	font: italic bold 30px Georgia, Serif;
	background-color: #fff;
	color: #721212;
	border: 2px solid;
	border-color: #6E0C0C;
}
h1{
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 60px;
}