.info{
	margin-top: 50px;
	margin-bottom: 20px;
}
.info-ulti{
	font-size: 15px;
}
div.row>div>p{
	color: #5F0EC3;
	font-size: 18px;
	background: #D4D4D4;
    border-radius: 5px;
    padding: 5px;
}
body>div.container{
	margin-bottom: 95px;
}