table.bracket {
    border-collapse: collapse;
    border: none;
}

.bracket td {
    vertical-align: middle;
    width: 40em;
    margin: 0;
    padding: 10px;
}

.bracket td p {
    border-bottom: solid 1px #fff;
    margin: 0;
    padding: 5px 5px 5px 5px;
}

.bracket th{
    text-align:center;
}
table{
    margin: 40px;
    color: #fff;
}
h2{
    margin-top: 35px;
}
.llaves{
    background: #49A49D;
    border-radius: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 85px;
}