body{
	background: #E4E4E4;
	background: url('../images/football.jpg');
	background-repeat: repeat-y;
	background-size: 100%;
}
.navbar{
	margin-bottom: 0px;
	background: #182254;
}
.navbar-inverse .navbar-brand{
	color: #fff;
	font-size: 30px;
	opacity: 0.9;
}
.navbar-inverse .navbar-brand:hover{
	opacity: 1;
}
.navbar-toggle{
	background: #292929;
	opacity: 0.9;
}
.navbar-toggle{
	opacity: 1;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    opacity: 0.9;
    font-size: 15px
}
.navbar-inverse .navbar-nav>li>a:hover {
    opacity: 1;
    background-color: #2768C0;
    text-decoration: underline;
    text-decoration-color: #49FF6B;
}
.bg-lightgray
{
    background-color:#182254;
}
.copyrights{
	color: #fff;
}
body>div.container{
  box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.75);
  background-color: #fff;
  background-color: transparent;
}
h2, h1{
	color: #8A00FF;
	
	font: italic bold 100px Georgia, Serif;
	font-size: 45px;
}
.help-block{
	color: #fff;
}