body{
	background: #E4E4E4;
}
.navbar{
	margin-bottom: 0px;
	background: #182254;
}
.navbar-inverse .navbar-brand{
	color: #fff;
	font-size: 30px;
	opacity: 0.9;
}

.navbar-inverse .navbar-brand:hover{
	opacity: 1;
}
.navbar-toggle{
	background: #292929;
	opacity: 0.9;
}
.navbar-toggle{
	opacity: 1;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    opacity: 0.9;
    font-size: 20px
}
.navbar-inverse .navbar-nav>li>a:hover {
    opacity: 1;
}
.bg-lightgray
{
    background-color:#182254;
}
.copyrights{
	color: #fff;
}