hr {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #200B32 inset;
}

.tustorneos{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 65px;
	text-shadow:  2px 2px #5549AA;
}
.jumbotron{
	padding-bottom: 85px;
	margin-bottom: 77px;
	box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.75);
}
#text{
	color: #f0ad4e;
	background-color: #FFF;
	border-radius: 15px;
}