form{
    margin: auto;
    margin-top: 0px;
    width: 90%; 
    max-width: 500px;
    padding: 25px 30px 40px 30px;
    border-radius: 15px;
}
input{
    display: block;
    padding: 10px;
    width: 95%;
    margin: 15px 0;
    font-size: 20px;
}
.boton{
    width: 200px;
    margin: 1px auto;
    color: white;
    background: linear-gradient(#2980B9, #1A5276);
    border: 0;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 0;
    opacity: 0.9;
}
.boton:hover{
    opacity: 1;
}
.boton:active{
     transform: scale(0.98);
}
.boton[type="submit"]{
    margin-left: 0px;
}

#botones{
    display: flex;
    margin-right: 10px;
}
h2{
    text-align: center;
    color: #100A7A;
    font: italic bold 100px Georgia, Serif;
    text-shadow: -5px -5px 5px #aaa;
    font-size: 30px;
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}