h2{
	font-size: 30px;
}
.contenedor{
	margin-bottom: 25px;
	padding: 15px;
}
.ronda{
	display: flex;
}
.vs{
	text-align: center;
	margin: 0px;
	color: #FF008A;
}
.form-group{
	margin: 15px;
}
.espacio{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}
.agregar{
    margin-top: 10px;
    margin-bottom: 15px;
}